.f-container{
    border-top: 0.5px solid rgba(0,0,0,0.16);
    justify-content: space-around;
}
.f-left{
    gap: 1rem;
}
.f-items{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 600;
}
@media (max-width:768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center;
    }
}